[submodule "storystore-ui"]
	path = storystore-ui
	url = https://github.com/PMET-public/storystore-ui.git
[submodule "storystore-pwa"]
	path = storystore-pwa
	url = https://github.com/PMET-public/storystore-pwa.git
